github "AFNetworking/AFNetworking" ~> 3.0
# CocoaLumberjack needs master to workaround Carthage Swift framework issue https://github.com/CocoaLumberjack/CocoaLumberjack/issues/666
github "CocoaLumberjack/CocoaLumberjack" "master"
github "ReactiveCocoa/ReactiveCocoa" ~> 4.0
github "fatuhoku/Typhoon" "master"
github "dzenbot/DZNEmptyDataSet"
github "steipete/Aspects"
